# Node.js
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
bun.lockb

# Build output
dist
build

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log
*.pid
*.seed
*.pid.lock

# OS
.DS_Store
Thumbs.db

# Editor folders
.vscode
.idea

# TypeScript
*.tsbuildinfo

# Prisma
backend/prisma/migrations/
backend/prisma/generated/
backend/prisma/dev.db
*.db-journal

# Uploads (Multer)
backend/public/images

# React / Vite / Cache
.cache
.vite

# Test coverage
coverage
