.title {
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
}

.title h1 {
  margin-bottom: 0.5em;
}

.btn {
  padding: 15px 25px;
  background-color: #131313;
  border-radius: 25px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  background-color: #028fed;
}

.title .btn_register a {
  text-decoration: none;
  color: #fff;
}

.petlist_container {
  display: flex;
  flex-wrap: wrap;
  gap: 2.1em;
}

.petlist_card {
  display: flex;
  flex-direction: column;
  margin: 0.5em 1em;
  max-width: 300px;
}

.petlist_card img {
  margin: 0 auto;
}

.petlist_card h2 {
  margin: 1em auto;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.actions p {
  font-size: 20px;
  font-weight: 900;
  color: #028fed;
}

.petlist_card .btn_adopt {
  background-color: #028fed;
}

.petlist_card .btn_adopt:hover {
  opacity: 0.8;
}

.petlist_card .btn_edit {
  text-decoration: none;
  background-color: #131313;
}

.petlist_card .btn_edit:hover {
  opacity: 0.9;
}

.petlist_card .btn_remove {
  background-color: #e80000;
}

.petlist_card .btn_remove:hover {
  opacity: 0.9;
}
